body {
    background-color: grey;
    font-family: courier new;
}

h1 {
    background-color: darkblue;
    font-family: courier new;
}

p {
    font-family: 'Courier New';
    color: white;
}